body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}
footer{
    position: absolute;
    padding-top: 10em;
    font-size: 15px;
    bottom: 0;
}
#dobForm{
    position: fixed;
    text-align: center;
}
#remainder{
    display: none;
    position: fixed;
    text-align: center;
    font-size: 40px;
    transform: translate(-50%, 600%);
    
}
#counter {
    display: none;
    position: fixed;
    transform: translate(-50%, 100%);
    font-size: 40px; 
}
#age{
    display:none;
    position: fixed;
    transform: translate(-320%, 200%);
    font-size: 20px;

}
#timeLeft{
    display: none;
    position: fixed;
    transform: translate(-120%,1200%);
    font-size: 20px;
}
