body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}
footer{
    position: absolute;
    padding-top: 10em;
    bottom: 1em;
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    
}
#dobForm{
    position: fixed;
    text-align: center;
}
.text{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
#remainder{
    display: none;
    position: fixed;
    text-align: center;
    transform: translate(-50%, 600%);
    font-size: 40px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}
#counter {
    display: none;
    position: fixed;
    transform: translate(-50%, 100%);
    font-size: 40px; 
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}
#age{
    display:none;
    position: fixed;
    transform: translate(-410%, 200%);
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: dimgray;

}
#timeLeft{
    display: none;
    position: fixed;
    transform: translate(-160%,1200%);
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: dimgrey;
}
